<!DOCTYPE html>
<html>


  <head charset="utf-8">
    <title>Who's Hot, Who's Not</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <style media="screen">
      .container{
        margin-top: 40px;
      }

      .result{
        margin-top: 20px;
        display:none;
      }
    </style>
  </head>
  <body>

    <div class="container">
      <!-- configure layout container  -->

        <div class="input row">
          <!-- form 참조는 bootstrap -> content -> forms -->
          <input type="text" class="col-md-10 form-control" placeholder="Enter Sentence!">
          <button type="button" class="col-md-2 btn btn-success" name="button"> Predict ! </button>
        </div>

        <div class="result row">
          <div class="col-md-12 alert alert-success"></div>
        </div>

        <div class="chart row">

        </div>


    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>

  </body>
</html>








<div class="frame">
  <div class="header">
    <div class="logo">LOGO</div>
  </div>
  <!-- //header -->
  <div class="container">
    <div class="nav">
      <ul class="nav-list">
        <li class="nav-item"><a href="" class="nav-link">Menu-1</a></li>
